<html xmlns:th="http://www.w3.org/1999/xhtml"
      xmlns="http://www.w3.org/1999/xhtml">
<head>
    <link rel="stylesheet" href="/css/style.css">
    <meta charset="UTF-8">
    <title>Fine settings</title>
</head>
<body>
<div class="page">
    <div class="container">
        <div class="left">
            <div class="title">Fine options</div>
            <div class="desc">
                The following factors will be used for calculating the fine amount.
            </div>
        </div>
        <div class="right">
            <div class="info">
                <label>Emission factor</label><div class="input" th:text="${fineOptionsDTO.emissionFineFactor}"></div>
                <label>Speeding factor (< 50KM/h)</label><div class="input" th:text="${fineOptionsDTO.speedFineFactorSlow}"></div>
                <label>Speeding factor (> 50KM/h)</label><div class="input" th:text="${fineOptionsDTO.speedFineFactorFast}"></div>



                <a th:href="@{/admin}" class="link" >Go to admin page</a>
                <form th:action="@{/logout}" method="post">
                    <input type="submit" value="Sign Out"/>
                </form>
            </div>
        </div>
    </div>
</div>
</body>
</html>
